<!DOCTYPE html>
<html>
<head>
  <title>A/B Testing Benchmark</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>


<body>

  <div class="grootvlak">
    AFAS Software
  </div>


<div style="display: flex; align-items: center;">
  <img src="{{ url_for('static', filename='images/165_benefits_AB_testing_illustration_blog.png') }}" alt="Foto" class="grotefoto">

  <div>
    <div class="tekstab">A/B Testing Benchmark</div>
    <div class="introtekst">
        Hi allemaal, <br>
        Ik ben voor mijn scriptie bezig met het ontwerpen van een benchmark waarmee je snel kunt checken of er een beter model is dan het model dat nu gebruikt wordt.
        Om dat uit te zoeken doe ik A/B-testen met verschillende modellen.<br>

        Bij A/B-testing worden twee opties (A en B) met elkaar vergeleken, waarbij het doel is om te beoordelen welke van de twee beter presteert.<br>
        Voor deze opdracht krijgen jullie een klantvraag (met onderwerp en toelichting) plus twee antwoorden die door verschillende modellen zijn gegenereerd.
        Ik wil jullie vragen om te beoordelen welk van de twee antwoorden inhoudelijk het beste is en welk het meest geschikt is als startantwoord.<br>
        
    </div>
  </div>
</div>
<div class="grijsvlakab"> 
  <div class="grijsvlaktekst">
    Alvast heel erg bedankt voor jullie tijd en moeite! <br>
<a href="{{ url_for('incident_erp', nummer=1) }}" class="knop">Let's go ERP!</a>
<a href="{{ url_for('incident_hrm', nummer=1) }}" class="knop">Let's go HRM!</a>
<a href="{{ url_for('incident_sb', nummer=1) }}" class="knop">Let's go SB!</a>


  </div>
</div>

</body>
</html>
