<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title>Incident {{ nummer }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="vlak"></div>

  <div class="titel">
    Incident {{ nummer }}
    <img src="{{ url_for('static', filename='images/jonas.png') }}" alt="Jonas" class="foto">
  </div>

  {% for vraag in vragen %}
  <div class="tekst">
    <div class="vraag">
        <p><span class="label">Onderwerp:</span> {{ vraag.Onderwerp }}</p>
        <p><span class="label">Toelichting:</span> {{ vraag.Toelichting }}</p>
        </div>
        </div>

<div class="grijsvlak"> 
  <div class="linkerkant"> 
    <strong>Optie A:</strong><br> 
    <div class="optie-tekst">{{ vraag.Optie1_html|safe }}</div> 
  </div>

    <div class="oranje-streep"></div> 

  <div class="rechterkant"> 
    <strong>Optie B:</strong><br> 
    <div class="optie-tekst">{{ vraag.Optie2_html|safe }}</div>
   </div> 
  </div>

  <div class="tekst1">
    <p>Welk antwoord is het beste beginantwoord?</p>

    <form action="{{ url_for('opslaan_sb', nummer=nummer) }}" method="POST">
    <input type="hidden" name="index" value="{{ vraag.Index }}">
      <input type="hidden" name="onderwerp" value="{{ vraag.Onderwerp }}">
      <input type="hidden" name="toelichting" value="{{ vraag.Toelichting }}">
      <input type="hidden" name="optie1" value="{{ vraag.Optie1_raw|e }}">
      <input type="hidden" name="optie2" value="{{ vraag.Optie2_raw|e }}">
      <input type="hidden" name="optie1_model" value="{{ vraag.Optie1_model }}">
      <input type="hidden" name="optie2_model" value="{{ vraag.Optie2_model }}">
      <button type="submit" name="keuze" value="Optie A" class="knop">Optie A</button>
      <button type="submit" name="keuze" value="Optie B" class="knop">Optie B</button>
    </form>
      <a href="{{ url_for('incident_sb', nummer=nummer) }}" class="knop">Overslaan</a>

  </div>
  {% endfor %}





  <div class="vlak"></div>
</body>
</html>
